#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  background-color: #bbe6bb;
  padding: 3rem;
  border-radius: 3rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.App h2 {
  color:rgb(1, 7, 9)
}

.App hr {
  font-weight: 700;
  border: rgb(240, 5, 5) solid 0.15rem;
  margin: 3rem 0
}

.counter {
  font-size: larger;
  font-weight: 700;
  color:rgb(204, 85, 85)
}

.ClassCount div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.FunctionCount div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.useCallbackApp {
  display: flex;
  gap: 4rem

}

.useCallback {
  display: flex;
  flex-direction: column;
  gap:5rem;
  width: 10rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
